# ============================================================
# PassGuardian - Variables de entorno
# COPIA este archivo como .env y llena con tus datos reales
# NUNCA subas .env a Git
# ============================================================

# MySQL
MYSQL_ROOT_PASSWORD=pon_aqui_tu_root_password
MYSQL_DATABASE=passguardian_db
MYSQL_USER=passguardian_user
MYSQL_PASSWORD=pon_aqui_tu_password

# Django
DJANGO_SECRET_KEY=pon_aqui_una_clave_secreta_larga_y_random
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=tu_ip_o_dominio_aqui
